<%- include('header') %>

<h1><%= card.name %></h1>

<div>

    <div>
      
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        
      
      
    </div>

 
</div>


<%- include('footer') %>